* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
  color: rgba(175, 47, 47, 0.15);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
header h1 {
  flex: 1;
  font-size: 6em;
  padding-top: 0.15em;
  font-weight: 100;
}
main {
  display: flex;
  flex-direction: column;
  width: 35em;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.8em 0.8em 0.8em;
  background-color: white;
}

::placeholder {
  color: rgba(175, 47, 47, 0.15);
  font-style: italic;
}

main > :first-child {
  display: flex;
  border-bottom: 1px solid rgba(175, 47, 47, 0.15);
  box-shadow: 0 0 0.5em;
}
#toggle-all {
  visibility: hidden;
  font-size: 22px;
  margin: 1em;
  text-align: center;
  -webkit-transform: rotate(90deg);
}

#input-box:focus {
  outline: none;
}

#input-box {
  border: none;
  font-size: 24px;
  color: #4d4d4d;
  padding: 0.9rem;
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}
footer p {
  flex: 1;
  color: #bfbfbf;
  font-size: 0.8em;
}

#bottom-controls {
  display: none;
  color: #a0a0a0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px white,
    0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px white,
    0 17px 2px -6px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(175, 47, 47, 0.15);
}

#remaining-count {
  font-size: 14px;
  margin-top: 0.4rem;
  margin-left: 1rem;
  flex: 3;
}

#all,
#active,
#completed {
  font-size: 14px;
  margin: 0.4em 0.5em;
  padding: 0.16em 0.4em;
  cursor: pointer;
}

#all {
  text-align: center;
}

#active {
  text-align: center;
}

#completed {
  text-align: center;
}

#clear:hover {
  text-decoration: underline;
}

#clear {
  cursor: pointer;
  font-size: 14px;
  margin-top: 0.4rem;
  margin-right: 1rem;
  flex: 3;
  text-align: end;
}

.todo-item {
  display: flex;
  border-bottom: 1px solid rgba(175, 47, 47, 0.15);
}

.todo-label {
  overflow-wrap: break-word;
  max-width: 410px;
  color: #4d4d4d;
  font-size: 24px;
  padding: 0.9rem;
  flex: 1;
}

.todo-label:focus {
  box-shadow: inset 0px 0px 5px 0px #a0a0a0;
  outline: 1px solid #a0a0a0;
}
.todo-checkbox:focus {
  outline: none;
}

.todo-checkbox {
  min-width: 2rem;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  border: 1px solid rgba(175, 47, 47, 0.15);
  border-radius: 50%;
  -webkit-appearance: none;
}

.todo-checkbox:checked::before {
  font-family: Arial;
  color: #00dd00;
  font-size: 25px;
  content: "✓";
  position: relative;
  top: -3px;
  left: 5.5px;
}

.todo-button:hover {
  transition-duration: 500ms;
  color: rgba(175, 47, 47, 0.82);
}

.todo-button {
  color: rgba(175, 47, 47, 0.42);
  font-size: 28px;
  border: none;
  margin: 0.2rem 0.65rem;
  padding: 0.5rem;
  background-color: white;
}

.todo-completed {
  color: rgba(175, 47, 47, 0.15);
  text-decoration: line-through;
}

@media screen and (max-width: 600px) {
  main {
    width: auto;
  }

  #bottom-controls {
    flex-direction: column;
  }

  #clear {
    margin: auto;
  }
  #remaining-count {
    margin: auto;
    border-bottom: 3px solid rgba(175, 47, 47, 0.5);
  }
  #input-box {
    padding-right: 0px;
  }

  .todo-button {
    transition: 500ms;
    z-index: 999;
    color: rgba(175, 47, 47, 0.82);
  }
}

#god {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

/* @media screen and (max-device-width: 600px) {
} */
